*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  height: 100%;
}

.example-spacer {
    flex: 1 1 auto;
  }

.table{
  width: 100%;
 
}
.table-responsive{
  width: 70%;
  margin: auto;
}
.main-body{
  margin-top: 40px;
  
}
.matForm{
  width: 40%;
  margin-left: 415px;
}
.logo{
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(37deg) brightness(107%) contrast(105%);
}
.wrapper{
  height: 100%;
  background: url('../assets/whitebg.avif') ;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
 

.toolbar{
  background-color: #8e8c8cb0;
}
.bgHead{
  background-color: #cfd4d85c;
}
//Responsive
