.content{
    width: 400px !important;
  
}
.form-group{
    margin-top: 0px;
.mat-form-field {
    width: 100%;
  
    
}
.mat-radio-button{
    padding-bottom: 14px;
    padding-top: 14px;
    margin-left: 12px;
}
}

.action{
    float: right;
}